@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,200;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #E6E5E5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #FFF;

    --trans-05: all 0.5s ease;
    --trans-03: all 0.3s ease;
    --trans-03: all 0.2s ease;
}

body {
    min-height: 100vh;
    background-color: var(--primary-color);
}

body.dark {
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 14px;
    width: 250px;
    height: 100%;
    background-color: var(--panel-color);
}

nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-image img {
    width: 45px;
    object-fit: cover;
    border-radius: 50px;
}

nav .logo-name {
    display: flex;
    align-items: center;
}

nav .logo-name .logo_name {
    margin-left: 14px;
    font-size: 25px;
    font-weight: 500px;
    color: var(--text-color);
}

nav .menu-items {
    display: flex;
    margin-top: 40px;
    height: calc(100% - 90px);
    flex-direction: column;
    justify-content: space-between;
}

nav .menu-items li {
    list-style: none;
}

nav .menu-items li a {
    position: relative;
    display: flex;
    text-decoration: none;
    align-items: center;
    height: 50px;
}

nav .nav-links li a:hover:before {
    position: absolute;
    width: 5px;
    height: 5px;
    left: -7px;
    content: "";
    border-radius: 50%;
    background-color: var(--primary-color);
}

nav .menu-items li a i {
    display: flex;
    min-width: 45px;
    height: 100%;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    color: var(--black-light-color);
}

nav .menu-items li a .link-name {
    font-size: 18px;
    font-weight: 500px;
    color: var(--black-light-color);
}

nav .nav-links li a:hover i,
nav .nav-links li a:hover .link-name {
    color: var(--primary-color);
}

nav .menu-items .mode-toggle {
    display: flex;
    position: absolute;
    height: 50px;
    min-width: 45px;
    align-items: center;
    justify-content: center;
    right: 14px;
    cursor: pointer;
}

nav .menu-items .mode-toggle .switch {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 22px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

nav .menu-items .mode-toggle .switch::before {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    border-radius: 50%;
    content: "";
    background-color: var(--panel-color);
    transition: var(--tran-03);
}

body.dark .switch::before {
    left: 20px;
}

nav .menu-items .mode {
    display: flex;
    align-items: center;
}
