@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,200;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #E6E5E5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #FFF;

    --trans-05: all 0.5s ease;
    --trans-03: all 0.3s ease;
    --trans-03: all 0.2s ease;
}

body {
    min-height: 100vh;
    background-color: var(--primary-color);
}

body.dark {
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 14px;
    border-right: 1px solid var(--border-color);
    width: 250px;
    height: 100%;
    transition: var(--trans-05);
    background-color: var(--panel-color);
}

nav.close {
    width: 75px;
}

/* nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-image img {
    width: 45px;
    object-fit: cover;
    border-radius: 50px;
} */

nav .logo-name {
    display: flex;
    align-items: center;
}

nav .logo-name .logo_name {
    margin-left: 14px;
    width: 172px;
    height: 60px;
    font-family: Nunito;
    font-size: 32px;
    font-weight: 800;
    line-height: 43.65px;
    color: var(--text-color);
    transition: var(--trans-05);
}

nav.close .logo_name {
    pointer-events: none;
    opacity: 0;
}

nav .menu-items {
    display: flex;
    margin-top: 40px;
    height: calc(100% - 90px);
    flex-direction: column;
    justify-content: space-between;
}

nav .menu-items li {
    list-style: none;
}

nav .menu-items li a {
    position: relative;
    display: flex;
    text-decoration: none;
    align-items: center;
    height: 50px;
}

nav .nav-links li a:hover:before {
    position: absolute;
    width: 5px;
    height: 5px;
    left: -7px;
    content: "";
    border-radius: 50%;
    background-color: var(--primary-color);
}

body.dark li a:hover:before {
    background-color: var(--text-color);
}

nav .menu-items li a img {
    display: flex;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--title-icon-color);
}

nav .menu-items li a .link-name {
    font-size: 22px;
    font-weight: 500;
    color: var(--black-light-color);
    transition: var(--trans-05);
    font-family: Nunito;
    line-height: 30.01px;
}

nav.close li a .link-name {
    pointer-events: none;
    opacity: 0;
}

nav .nav-links li a:hover img,
nav .nav-links li a:hover .link-name {
    color: var(--primary-color);
}

body.dark .nav-links li a:hover img,
body.dark .nav-links li a:hover .link-name {
    color: var(--text-color);
}

.menu-items .logout-mode {
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

.menu-items .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

nav .menu-items .mode-toggle {
    display: flex;
    position: absolute;
    height: 50px;
    min-width: 45px;
    align-items: center;
    justify-content: center;
    right: 14px;
    cursor: pointer;
}

nav .menu-items .mode-toggle .switch {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 22px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.mode-toggle .switch::before {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    border-radius: 50%;
    content: "";
    background-color: var(--panel-color);
    transition: var(--trans-03);
}

body.dark .switch::before {
    left: 20px;
}

.dashboard {
    position: relative;
    padding: 10px 14px;
    left: 250px;
    width: calc(100% - 250px);
    height: 100vh;
    background-color: var(--panel-color);
    transition: var(--trans-05);
}

nav.close ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top {
    display: flex;
    position: fixed;
    top: 0;
    left: 250px;
    padding: 10px 14px;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 250px);
    background-color: var(--panel-color);
    transition: var(--trans-05);
}

nav.close ~ .dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
}

nav.close ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle {
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
}

.dashboard .top .search-box {
    position: relative;
    width: 100%;
    height: 45px;
    max-width: 600px;
    margin: 0 30px;
}

.top .search-box input {
    position: absolute;
    font-size: 15px;
    font-weight: 500px;
    outline: none;
    color: var(--text-color);
    padding: 0 25px 0 50px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
}

.top .search-box i {
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 22px;
    color: var(--black-light-color);
    z-index: 10;
    transform: translateY(-50%);

}

.top img {
    width: 40px;
    border-radius: 50%;
}

.dashboard .dash-content {
    padding-top: 50px;
}

.dash-content .title {
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}

.dash-content .title i {
    display: flex;
    position: relative;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 6px;
    color: var(--title-icon-color);
    background-color: var(--primary-color);

}

.dash-content .title .text {
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}

.dash-content .boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dash-content .boxes .box {
    display: flex;
    align-items: center;
    border-radius: 12px;
    flex-direction: column;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
}

.box i {
    font-size: 30px;
    color: var(--text-color);
}

.box .text {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box .number {
    font-size: 35px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box.box2 {
    background-color: var(--box2-color);
}

.boxes .box.box3 {
    background-color: var(--box3-color);
}

.dash-content .activity .activity-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.activity .activity-data {
    display: flex;
}

.activity-data .data {
    display: flex;
    flex-direction: column;
    width: calc(100% / 5 - 15px);
    margin: 0 15px;
}

.activity-data .data-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}

.activity-data .data .data-list {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}

@media (max-width: 1000px) {
    nav {
        width: 73px;
    }
    nav.close {
        width: 250px;
    }
    nav .logo_name {
        pointer-events: none;
        opacity: 0;
    }
    nav.close .logo_name {
        pointer-events: auto;
        opacity: 1;
    }
    nav li a .link-name {
        pointer-events: none;
        opacity: 0;
    }
    nav.close li a .link-name {
        pointer-events: auto;
        opacity: 1;
    }
    nav ~ .dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard {
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top {
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top {
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data {
        overflow-y: scroll;
    }
}





